
<div class="container text-center">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://petitpalaisdaglae-gordes.com/wp-content/uploads/2018/08/cocktail-au-Petit-Palais-dAgla%C3%A9.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="container">
      <h1 style="color:white;"><strong>cocktail de folie</strong></h1>
      <p style="color:white;">un monde de cocktail</p>

      <%= link_to 'add cocktail', new_cocktail_path, class: "btn btn-success"%>
    </div>
  </div>

<div class="container">
  <div class="row p-3">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <p class="card-text"><%= cocktail.description %></p>
          <%= link_to 'detail', cocktail_path(cocktail), class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>