
<div class="container ">
<div class="text-center"></div>
  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="https://www.destinationcocktails.fr/wp-content/uploads/2019/11/le_secret_des_cocktails_a_etages-2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <p class="card-text"><%= @cocktail.description %></p>
          <a href="<%=root_path %>" class="btn btn-primary">back to list</a>
          <td><%= link_to 'delete', cocktail_path(@cocktail[:id]), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </div>
  </div>
</div>
